/* ==================== IMPORTS ==================== */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ==================== VARIABLES ==================== */

:root {
  --primary-color: #3c3838;
  --secondary-color: #e8b17a;
  --primary-color-second: ##343434;
  --black: #121212;
  --green: #00ffc2;
  --white: #fff;
  --purple: #6900a9;
  --blue: #357eb5;
}

@font-face {
  font-family: "Akira Expanded";
  src: url("../fonts/AkiraBold.otf");
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.ttf");
}

/* ==================== BODY ==================== */

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Outfit";
  font-weight: 400;
  font-size: 13px;

  background-color: var(--black);
  color: white;

  background-image: url("../images/background1Mobile.svg"),
    url("../images/background2Mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  background-size: 100%, 100%;
  width: 100%;
}

.body {
  background-image: url("../images/Rectanglebg.png");
  height: fit-content;
  margin: 4px;
}

a {
  text-decoration: none;
}

/* ==================== VESERION DESKTOP ==================== */

/* ========== Section: PRÉSENTATION ========== */

/* Contient le titre, le texte de présentation, le bouton (Participez) */
#presentation-block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: auto;
  padding: 0 3em;
}
/* H1 de la page */
#presentation-block h1 {
  width: 100%;
  text-align: start;
  padding-top: 3em;
}
/* Dégradé du "CRITIKEYE" */
#critikeye-h1 {
  background: linear-gradient(
    to right,
    var(--purple),
    var(--blue),
    var(--green)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: left;
  width: 100%;
}
/* Êtes-vous prêt... (texte) */
#text-section-presentation {
  margin: 2em 0;
  font-size: 15pt;
  font-weight: 100;
}
/* Bouton participez */
#presentation-block img {
  width: 200px;
  cursor: pointer;
}
/* Image (lunettes3D) */
.section-presentation .lunettes3D-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -5em 0 0 0;
}
.lunettes3D-image img {
  width: 50%;
}

.image-lunettes3D {
    display: none;
    width: 100%;
    background-image: url("/static/images/lunettes3D.webp");
    background-repeat: no-repeat;
    background-size: auto;
    position: right;
}

/* Texte de présentation */
.presentation-text {
  display: none;
}

/* Slider */
#critikeye-slider-section-presentation {
  display: none;
}
.slider-track {
  display: none;
}

/* Div Bouton de scroll down*/
.scroll-down-button {
  position: relative;
  margin: 2em 0;
}
/* Bouton de scroll down (renvoie vers la newsletter) */
#scroll-down-button {
  width: 60px;
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#scroll-down-button {
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}
#scroll-down-button.show {
  opacity: 1;
  visibility: visible;
}

/* ========== Section: WATCHERS (TECHNOPHILES) & entreprises ========== */

/* Section (contient les 2 cards) */
.section-watchers-enterprises {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

/* WATCHERS */
.watchers {
  width: 100%;
  height: 600px;
  margin: 3em 0;
  border-radius: 30px;
  background-color: var(--black);
  background-image: url("/static/images/liquid_swirl.webp");
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ENTREPRISES */
.enterprises {
  width: 100%;
  height: 600px;
  margin: 3em 0;
  border-radius: 30px;
  background-color: var(--black);
  background-image: url("/static/images/liquid_swirl.webp");
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Image */
.image-section {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.image-section a {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2em 0;
}
.women-image {
  width: 50%;
  text-align: center;
}
.rejoins-nous-image {
  width: 200px;
}

/* Slider */
#critikeye-slider-section-watchers-enterprises {
  display: block;
  width: 100%;
  overflow: hidden;
}
.slider-track {
  display: flex;
  width: 200%; /* Double de la largeur pour afficher les images en boucle */
  animation: slide 12s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Décaler de 50% de la largeur du slider */
  }
}
#critikeye-slider-section-watchers-enterprises img {
  width: 50%; /* Utiliser une largeur de 50% pour chaque image */
  height: auto;
  object-fit: cover;
}

/* ========== Section: COMMENT ÇA FONCTIONNE ========== */

/* Div qui contient le titre + le texte de présentation */
.how-container .presentation-text-how {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("/static/images/spark.webp");
  background-repeat: no-repeat;
  background-position: right top;
  margin: 8em 0 3em 0;
}
/* Titre */
.how-container .presentation-text-how h2 {
  font-weight: 100;
  font-size: 30pt;
}
/* Texte */
#text-presentation-how {
  margin: 2em 0;
  font-weight: 100;
  font-size: 15px;
}

.how-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.how-card {
  width: 50%;
  height: auto;
  margin: 3em 0;
  border-radius: 30px;
  background-color: var(--black);
  background-image: url("/static/images/liquid_swirl.webp");
  background-repeat: repeat;
  background-size: cover;
  color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em 1em;
  font-weight: 100;
  font-size: 15px;
}

#woman-planet {
  margin: 2em 0;
}

/* Keywords SEO */
.seo {
  font-style: normal;
  font-weight: 100;
}

/* Slider */
#critikeye-slider-section-how {
  display: block;
  width: 100%;
  overflow: hidden;
}
.slider-track {
  display: flex;
  width: 200%; /* Double de la largeur pour afficher les images en boucle */
  animation: slide 12s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Décaler de 50% de la largeur du slider */
  }
}
#critikeye-slider-section-how img {
  width: 50%; /* Utiliser une largeur de 50% pour chaque image */
  height: auto;
  object-fit: cover;
}

/* ========== Section: DES CHIFFRES ========== */

/* Conteneur du titre (DES CHIFFRES) avec l'étoile en background image */
.numbers .presentation-text-numbers {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("/static/images/spark.webp");
  background-repeat: no-repeat;
  background-position: right top;
  margin: 8em 0 3em 0;
}
/* Titre (DES CHIFFRES)*/
.numbers .presentation-text-numbers h2 {
  font-weight: 100;
  font-size: 30pt;
}

/* Conteneur de stats-container */
.french-stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* Conteneur des chiffres + textes */
.stats-container {
  width: 25%;
  text-align: center;
}
/* Chiffres */
.stats {
  color: var(--green);
  font-size: 50pt;
}
/* Chiffres */
.stats-container .stats p {
  font-size: 15px;
  font-weight: 100;
}

/* ========== Section: NOS SERVICES ========== */

.services .presentation-text-services {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("/static/images/spark.webp");
  background-repeat: no-repeat;
  background-position: right top;
  margin: 3em 0;
  width: 100%;
}

/* Titre (DES CHIFFRES)*/
.services .presentation-text-services h2 {
  font-weight: 100;
  font-size: 30pt;
}

/* Card (nos services) */
.carousel-container {
  max-width: 960px;
  margin: 20px auto;
  background-color: var(--black);
  margin: 3em 0;
  border-radius: 30px;
  background-image: url("/static/images/liquid_swirl.webp");
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em 1em;
}

.carousel {
  overflow: hidden;
  border-radius: 5px;
  padding: 20px;
}

.carousel-item {
  display: none;
  text-align: center;
  padding: 20px 40px;
}

.carousel-item.active {
  display: block;
}

.carousel-controls {
  text-align: center;
  margin-top: 20px;
}

.carousel-prev,
.carousel-next {
  width: 30px;
  height: 30px;
  color: var(--black);
  font-size: 14px;
  border: none;
  background-color: var(--green);
  margin: 0 3px;
  border-radius: 50%;
}

/* Texte en vert */
.green-text {
  color: var(--green);
}

/* Keywords SEO */
.seo {
  font-style: normal;
  font-weight: 100;
}

/* Slider */
#critikeye-slider-section-services {
  display: block;
  width: 100%;
  overflow: hidden;
}
.slider-track {
  display: flex;
  width: 200%; /* Double de la largeur pour afficher les images en boucle */
  animation: slide 12s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Décaler de 50% de la largeur du slider */
  }
}
#critikeye-slider-section-services img {
  width: 50%; /* Utiliser une largeur de 50% pour chaque image */
  height: auto;
  object-fit: cover;
}

/* ========== Section: VOS PROJETS CONRÉTISÉS ========== */

.section-projects .presentation-text-projects {
  background-image: url("/static/images/spark.webp");
  background-repeat: no-repeat;
  background-position: right top;
  margin: 8em 0 0 0;
}
.section-projects .presentation-text-projects h2 {
  font-weight: 100;
  font-size: 30pt;
}

.et-si-container {
  text-align: center;
}
/* Bouton */
.et-si-button {
  width: 100px;
  height: 30px;
  margin: 1em 0 2em 0;
  border: solid 2px var(--green);
  border-radius: 20px;
  color: var(--green);
}




















/* ==================== TABLETTES ==================== */

@media screen and (max-width: 1124px) {
/* ========== Section: PRÉSENTATION ========== */

  /* Contient le titre, le texte de présentation, le bouton (Participez) */
  #presentation-block {
    display: none;
  }

  /* Image (lunettes3D) */
  .section-presentation .lunettes3D-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: -5em 0 0 0;
  }
  .lunettes3D-image img {
    width: 100%;
  }

  /* Texte de présentation */
  .presentation-text {
    display: block;
    width: 100%;
    margin: 1em 0;
  }
  .presentation-text #text-presentation {
    font-size: 14pt;
  }
  .presentation-text #text-presentation strong {
    margin: -1.5em 0 0 0;
  }
  .presentation-text #text-presentation2 {
    text-align: center;
    font-size: 9pt;
    margin: 2em 0;
  }

  /* Div Bouton de scroll down*/
  .scroll-down-button {
    display: none;
    position: relative;
    margin: 2em 0;
  }

  /* Slider */
  #critikeye-slider-section-presentation {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .slider-track {
    display: flex;
    width: 200%; /* Double de la largeur pour afficher les images en boucle */
    animation: slide 12s linear infinite;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Décaler de 50% de la largeur du slider */
    }
  }
  #critikeye-slider-section-watchers-enterprises img {
    width: 50%; /* Utiliser une largeur de 50% pour chaque image */
    height: auto;
    object-fit: cover;
  }

  /* ========== Section: WATCHERS & ENTREPRISES ========== */

  .section-watchers-enterprises {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .section-watchers-enterprises {
    width: 100%;
  }
  /* WATCHERS */
  .watchers {
    width: 100%;
    height: auto;
    margin: 3em 0;
    border-radius: 30px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Titre */
  .title-section h3 {
    padding: 2em 0;
  }
  .title-section h3 strong {
    font-weight: 100;
  }

  /* Image */
  .women-image {
    width: 60%;
    text-align: center;
  }
  .image-section {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .image-section a {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2em 0;
  }
  .rejoins-nous-image {
    width: 200px;
  }

  /* ENTREPRISES */
  .enterprises {
    width: 100%;
    height: auto;
    margin: 3em 0;
    border-radius: 30px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .enterprises h3 {
    padding: 2em 0;
  }
  .enterprises h3 strong {
    font-weight: 100;
  }

  /* Slider */
  #critikeye-slider-section-watchers-enterprises {
    display: none;
  }

  /* ========== Section: COMMENT ÇA FONCTIONNE ========== */

  /* Div qui contient le titre + le texte de présentation */
  .how-container .presentation-text-how {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("/static/images/spark.webp");
    background-repeat: no-repeat;
    background-position: right top;
    margin: 3em 0;
  }
  /* Titre */
  .how-container .presentation-text-how h2 {
    font-weight: 100;
    font-size: 15pt;
  }
  /* Texte */
  #text-presentation-how {
    margin: 2em 0;
    font-weight: 100;
    font-size: 15px;
  }
  .how-card {
    width: 100%;
    height: auto;
    margin: 3em 0;
    border-radius: 30px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 1em;
  }

  #woman-planet {
    margin: 2em 0;
  }

  /* Slider */
  #critikeye-slider-section-how {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .slider-track {
    display: flex;
    width: 200%;
    /* Double de la largeur pour afficher les images en boucle */
    animation: slide 12s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
      /* Décaler de 50% de la largeur du slider */
    }
  }

  #critikeye-slider-section-how img {
    width: 50%;
    /* Utiliser une largeur de 50% pour chaque image */
    height: auto;
    object-fit: cover;
  }
  /* ========== Section: DES CHIFFRES ========== */

  /* Conteneur du titre (DES CHIFFRES) avec l'étoile en background image */
  .numbers .presentation-text-numbers {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("/static/images/spark.webp");
    background-repeat: no-repeat;
    background-position: right top;
    margin: 3em 0;
  }
  /* Titre (DES CHIFFRES)*/
  .numbers .presentation-text-numbers h2 {
    font-weight: 100;
    font-size: 15pt;
  }

  /* Conteneur de stats-container */
  .french-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Conteneur des chiffres + textes */
  .stats-container {
    width: 100%;
    text-align: center;
  }
  /* Chiffres */
  .stats {
    color: var(--green);
    font-size: 30pt;
  }
  p {
    font-size: 12px;
    font-weight: 100;
  }

  /* ========== Section: NOS SERVICES ========== */

  /* Conteneur du titre (DES CHIFFRES) avec l'étoile en background image */
  .services .presentation-text-services {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("/static/images/spark.webp");
    background-repeat: no-repeat;
    background-position: right top;
    margin: 3em 0;
  }
  /* Titre (DES CHIFFRES)*/
  .services .presentation-text-services h2 {
    font-weight: 100;
    font-size: 15pt;
  }

  /* Card (nos services) */
  .carousel-container {
    max-width: 960px;
    margin: 20px auto;
    background-color: var(--black);
    width: auto;
    margin: 3em 0;
    border-radius: 30px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 1em;
  }

  .carousel {
    overflow: hidden;
    border-radius: 5px;
    padding: 20px;
  }

  .carousel-item {
    display: none;
    text-align: center;
    padding: 20px 40px;
  }

  .carousel-item.active {
    display: block;
  }

  .carousel-controls {
    text-align: center;
    margin-top: 20px;
  }

  .carousel-prev,
  .carousel-next {
    width: 30px;
    height: 30px;
    color: var(--black);
    font-size: 14px;
    border: none;
    background-color: var(--green);
    margin: 0 3px;
    border-radius: 50%;
  }

  /* Texte en vert */
  .green-text {
    color: var(--green);
  }
  /* Keywords SEO */
  .seo {
    font-style: normal;
    font-weight: 100;
  }

  /* Slider */
  #critikeye-slider-section-services {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .slider-track {
    display: flex;
    width: 200%; /* Double de la largeur pour afficher les images en boucle */
    animation: slide 12s linear infinite;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Décaler de 50% de la largeur du slider */
    }
  }
  #critikeye-slider-section-services img {
    width: 50%; /* Utiliser une largeur de 50% pour chaque image */
    height: auto;
    object-fit: cover;
  }

  /* ========== Section: VOS PROJETS CONCRÉTISÉS ========== */

  #text-presentation {
    background-image: url("/static/images/spark.webp");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 14px;
  }

  .section-projects .presentation-text-projects h2 {
    font-weight: 100;
    font-size: 15pt;
  }

  .et-si-container {
    text-align: center;
  }
  /* Bouton */
  .et-si-button {
    width: 100px;
    height: 30px;
    margin: 1em 0 2em 0;
    border: solid 2px var(--green);
    border-radius: 20px;
    color: var(--green);
  }

  /* ========== Section: NEWSLETTER ========== */

  /* Newsletter */
  .newsletter-card {
    width: 100%;
    height: auto;
    margin: 3em 0;
    padding: 2em 1em;
    border-radius: 30px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .newsletter-card strong {
    color: var(--green);
    font-weight: 100;
  }
  .newsletter-card h3 {
    margin: 2em 0;
  }
  .newsletter-section {
    margin: 2em 0;
  }
  .newsletter-card .seo {
    color: var(--white);
  }
  /* Bouton */
  .newsletter-button {
    width: 100px;
    height: 30px;
    margin: 1em 0 0 0;
    border: solid 2px var(--green);
    border-radius: 20px;
    color: var(--green);
  }
  /* Checkboxes */
  .checkboxes {
    margin: 1em 0;
  }
  .checkboxes label {
    font-weight: 100;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    color: var(--white);
    cursor: pointer;
  }
  .checkboxes input {
    vertical-align: middle;
    margin-right: 5px;
    background-color: transparent;
    border-color: var(--green);
  }
}






















/* ==================== MOBILES ==================== */

@media screen and (min-width: 320px) and (max-width: 480px) {

  /* ========== Section: PRÉSENTATION ========== */

  /* Contient le titre, le texte de présentation, le bouton (Participez) */
  #presentation-block {
    display: none;
  }

  /* Image (lunettes3D) */
  .image-lunettes3D {
    width: 100%;
    background-image: url("/static/images/lunettes3D.webp");
    background-repeat: no-repeat;
    background-size: auto;
    position: right;
}

  /* Texte de présentation */
  .presentation-text {
    display: block;
    width: 100%;
    margin: 1em 0;
  }
  .presentation-text #text-presentation {
    font-size: 14pt;
  }
  .presentation-text #text-presentation strong {
    margin: -1.5em 0 0 0;
  }
  .presentation-text #text-presentation2 {
    text-align: center;
    font-size: 9pt;
    margin: 2em 0;
  }

  /* Div Bouton de scroll down*/
  .scroll-down-button {
    display: none;
    position: relative;
    margin: 2em 0;
  }

  /* Slider */
  #critikeye-slider-section-presentation {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .slider-track {
    display: flex;
    width: 200%; /* Double de la largeur pour afficher les images en boucle */
    animation: slide 12s linear infinite;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Décaler de 50% de la largeur du slider */
    }
  }
  #critikeye-slider-section-watchers-enterprises img {
    width: 50%; /* Utiliser une largeur de 50% pour chaque image */
    height: auto;
    object-fit: cover;
  }

  /* ========== Section: WATCHERS & ENTREPRISES ========== */

  .section-watchers-enterprises {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .section-watchers-enterprises {
    width: 100%;
  }
  /* WATCHERS */
  .watchers {
    width: 100%;
    height: auto;
    margin: 3em 0;
    border-radius: 30px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Titre */
  .title-section h3 {
    padding: 2em 0;
  }
  .title-section h3 strong {
    font-weight: 100;
  }

  /* Image */
  .women-image {
    width: 90%;
    text-align: center;
  }
  .image-section {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .image-section a {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2em 0;
  }
  .rejoins-nous-image {
    width: 50%;
  }

  /* ENTREPRISES */
  .enterprises {
    width: 100%;
    height: auto;
    margin: 3em 0;
    border-radius: 30px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .enterprises h3 {
    padding: 2em 0;
  }
  .enterprises h3 strong {
    font-weight: 100;
  }

  /* Slider */
  #critikeye-slider-section-watchers-enterprises {
    display: none;
  }

  /* ========== Section: COMMENT ÇA FONCTIONNE ========== */

  /* Div qui contient le titre + le texte de présentation */
  .how-container .presentation-text-how {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("/static/images/spark.webp");
    background-repeat: no-repeat;
    background-position: right top;
    margin: 3em 0;
  }
  /* Titre */
  .how-container .presentation-text-how h2 {
    font-weight: 100;
    font-size: 15pt;
  }
  /* Texte */
  #text-presentation-how {
    margin: 2em 0;
    font-weight: 100;
    font-size: 15px;
  }
  .how-card {
    width: 100%;
    height: auto;
    margin: 3em 0;
    border-radius: 30px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 1em;
  }

  #woman-planet {
    margin: 2em 0;
  }

  /* Slider */
  #critikeye-slider-section-how {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .slider-track {
    display: flex;
    width: 1000%;
    /* Double de la largeur pour afficher les images en boucle */
    animation: slide 12s linear infinite;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
      /* Décaler de 50% de la largeur du slider */
    }
  }

  #critikeye-slider-section-how img {
    width: 50%;
    /* Utiliser une largeur de 50% pour chaque image */
    height: auto;
    object-fit: cover;
  }
  /* ========== Section: DES CHIFFRES ========== */

  /* Conteneur du titre (DES CHIFFRES) avec l'étoile en background image */
  .numbers .presentation-text-numbers {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("/static/images/spark.webp");
    background-repeat: no-repeat;
    background-position: right top;
    margin: 3em 0;
  }
  /* Titre (DES CHIFFRES)*/
  .numbers .presentation-text-numbers h2 {
    font-weight: 100;
    font-size: 15pt;
  }

  /* Conteneur de stats-container */
  .french-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Conteneur des chiffres + textes */
  .stats-container {
    width: 100%;
    text-align: center;
  }
  /* Chiffres */
  .stats {
    color: var(--green);
    font-size: 30pt;
  }
  p {
    font-size: 12px;
    font-weight: 100;
  }

  /* ========== Section: NOS SERVICES ========== */

  /* Conteneur du titre (DES CHIFFRES) avec l'étoile en background image */
  .services .presentation-text-services {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("/static/images/spark.webp");
    background-repeat: no-repeat;
    background-position: right top;
    margin: 3em 0;
  }
  /* Titre (DES CHIFFRES)*/
  .services .presentation-text-services h2 {
    font-weight: 100;
    font-size: 15pt;
  }

  /* Card (nos services) */
  .carousel-container {
    max-width: 960px;
    margin: 20px auto;
    background-color: var(--black);
    width: auto;
    margin: 3em 0;
    border-radius: 30px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 1em;
  }

  .carousel {
    overflow: hidden;
    border-radius: 5px;
    padding: 20px;
  }

  .carousel-item {
    display: none;
    text-align: center;
    padding: 20px 40px;
  }

  .carousel-item.active {
    display: block;
  }

  .carousel-controls {
    text-align: center;
    margin-top: 20px;
  }

  .carousel-prev,
  .carousel-next {
    width: 30px;
    height: 30px;
    color: var(--black);
    font-size: 14px;
    border: none;
    background-color: var(--green);
    margin: 0 3px;
    border-radius: 50%;
  }

  /* Texte en vert */
  .green-text {
    color: var(--green);
  }
  /* Keywords SEO */
  .seo {
    font-style: normal;
    font-weight: 100;
  }

  /* Slider */
  #critikeye-slider-section-services {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .slider-track {
    display: flex;
    width: 1000%; /* Double de la largeur pour afficher les images en boucle */
    animation: slide 12s linear infinite;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Décaler de 50% de la largeur du slider */
    }
  }
  #critikeye-slider-section-services img {
    width: 50%; /* Utiliser une largeur de 50% pour chaque image */
    height: auto;
    object-fit: cover;
  }

  /* ========== Section: VOS PROJETS CONCRÉTISÉS ========== */

  #text-presentation {
    background-image: url("/static/images/spark.webp");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 14px;
  }

  .section-projects .presentation-text-projects h2 {
    font-weight: 100;
    font-size: 15pt;
  }

  .et-si-container {
    text-align: center;
  }
  /* Bouton */
  .et-si-button {
    width: 100px;
    height: 30px;
    margin: 1em 0 2em 0;
    border: solid 2px var(--green);
    border-radius: 20px;
    color: var(--green);
  }

  /* ========== Section: NEWSLETTER ========== */

  /* Newsletter */
  .newsletter-card {
    width: 100%;
    height: auto;
    margin: 3em 0;
    padding: 2em 1em;
    border-radius: 30px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .newsletter-card strong {
    color: var(--green);
    font-weight: 100;
  }
  .newsletter-card h3 {
    margin: 2em 0;
  }
  .newsletter-section {
    margin: 2em 0;
  }
  .newsletter-card .seo {
    color: var(--white);
  }
  /* Bouton */
  .newsletter-button {
    width: 100px;
    height: 30px;
    margin: 1em 0 0 0;
    border: solid 2px var(--green);
    border-radius: 20px;
    color: var(--green);
  }
  /* Checkboxes */
  .checkboxes {
    margin: 1em 0;
  }
  .checkboxes label {
    font-weight: 100;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    color: var(--white);
    cursor: pointer;
  }
  .checkboxes input {
    vertical-align: middle;
    margin-right: 5px;
    background-color: transparent;
    border-color: var(--green);
  }
}


















/* AUTRE */

/* header {
    padding: 4rem 0rem 0rem 2rem;
}

.logo_svg img {
    width: 5.5rem;
}

section {
    position: relative;
}

.presation {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.logo-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 10rem;

}

.dessin-logo {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-text {
    position: absolute;
    z-index: 1;

    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    white-space: nowrap;
    color: #00FFC2;
    top: 4rem;
}

.noFull-text {
    position: absolute;
    z-index: 3;

    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke: 0.3px #00FFC2;
    top: 4rem;

}

.dessin-logo img {
    position: absolute;
    z-index: 2;
    width: 16rem;
}

.text-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.text-presentation p {
    text-align: center;
    font-size: 12px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.buttons p {
    border: 2px solid var(--green);
    padding: 10px 22px;
    border-radius: 30px;
    color: var(--green);
    font-weight: bold;
    font-size: 12px;

    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 700;
}

.buttons img {
    border: 2px solid var(--green);
    border-radius: 50%;
    margin-left: 10px;
    padding: 3px;
}

.logo-circle {
    position: absolute;
    right: 2rem;
}

.logo-circle img {
    width: 2.5rem;
}

.services {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem;
    margin: 2rem 0 4rem 0;

}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.title img {
    margin-bottom: 30px;
}


.text {
    text-align: center;
}

.form-container label {
    display: none;
}

span{
    color: var(--green);
}

.section3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem;
    margin: 1rem 0 4rem 0;
}

.section3 .title img {
    margin-bottom: 3.75rem;
}

.bgCriteye {
    position: absolute;
    bottom: 0;
}

.bgCriteye img {
    width: 22rem;
}

.formSection {
    box-sizing: border-box;

    background: url("../images/rectanglebg.png"), linear-gradient(149.28deg, rgba(255, 255, 255, 0.24) 5.07%, rgba(178, 57, 235, 0.072) 99.27%);
    box-shadow: -61px -45px 77px rgba(38, 13, 53, 0.16), -3px 18px 37px rgba(28, 8, 41, 0.34);
    backdrop-filter: blur(17px);

    border-radius: 24px;

    padding: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;

    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text-form {
    margin-top: 1rem;
}

.text-form h3 {
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--green);
    margin-bottom: 1rem;
}

p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

h1,
h2,
h3 {
    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.375rem;
}

h3 {
    font-size: 0.875rem;
}

.bandeau {
    white-space: nowrap;
    overflow: hidden;
}

.bandeau img {
    animation: scroll 20s linear infinite;
    transform: translateX(0%);
    width: 150%;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}


.socials {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit';
}

.custom-input-container {
    position: relative;
}

.custom-input {
    width: -webkit-fill-available;
    border: 1px solid var(--green);
    outline: none;
    background: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    box-sizing: border-box;

    width: 300px;
    height: 40px;

    color: white;
}

.custom-input::placeholder {
    color: white;
}

textarea {
    font-family: 'Outfit';
}

.envoyer {
    color: #121212;
    background: #00FFC2;
    padding: 10px 22px;
    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 700;
    font-size: 15.6667px;
    line-height: 18px;
    margin: 2rem 0 1rem 0;
    border-radius: 36.1538px;    
    border: none;
} */

/* ==================== MEDIA QUERIES ==================== */

/* @media screen and (min-width:640px) {
    body {
        background-image: url('../images/background1.svg'), url('../images/background2.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: left top, right bottom;
        background-size: 100%, 100%;
    }

    /* ========== HEADER ========== */

/* header {
        padding: 4rem 0rem 10rem 4rem;
    }

    p {
        font-size: 20px;
        line-height: 25px;
    }

    h1,
    h2 {
        font-size: 2.3rem;

    }

    h1 {
        width: 24rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .logo_svg img {
        width: 10rem;
    }

    .presation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 4rem;
    }

    .text-presentation {
        order: 1;
        width: 50%;
        gap: 0rem;
        align-items: flex-start;
        justify-content: left;
    }

    .text-presentation p {
        font-size: 16px;
        text-align: left;
    }

    .logo-image {
        order: 2;
        width: 50%;
        align-self: flex-start;
        height: fit-content;
    }


    .dessin-logo {
        position: relative;
        width: 100%;
    }

    .full-text,
    .noFull-text {
        font-size: 5rem;
        top: 6rem;
    }

    .noFull-text {
        -webkit-text-stroke: 0.8px #00FFC2;
    }

    .dessin-logo img {
        width: 34rem;
        top: -4rem;
    }

    .logo-circle {
        left: 50%;
        bottom: 4rem;
    }

    .logo-circle img {
        width: 4rem;
    }

    .services {
        padding: 0 4rem;
    }

    .services .text {
        width: 58.563rem;
    }

    .section3 {
        padding: 0 4rem;
        margin-bottom: 4rem;
    }

    .bgCriteye {
        top: 50%;
    }

    .bgCriteye img {
        width: 80rem;
    }

    .formSection {
        width: 40rem;
        padding: 4rem;
        gap: 4rem;
        backdrop-filter: blur(14px);
    }

    .text-form {
        margin-top: 2rem;
    }

    .text-form h3 {
        margin-bottom: 4rem;
    }

    

    .envoyer {
        margin-top: 4rem;
    }

    .bandeau img {
        width: 100%;
    }

    .socials {
        gap: 4rem;
    }

    .custom-input {
        font-size: 16px;
        width: 500px;
        height: 60px;
        padding: 15px;
    }

    .buttons img {
        padding: 6px;
    }

    .text-presentation h2 {
        text-align: left;
    }

    .buttons {
        margin-bottom: 10rem;
    }

    .envoyer{
        margin-bottom: 0;
    } 
} */
