{% extends 'base.html' %}

{% load static %}
<!-- Ajoutez cette ligne pour charger les balises statiques -->

{% block content %}
<main>
    <form method="POST" action="{% url 'user_login' %}">
        {% csrf_token %}
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Connexion</button>
    </form>
</main>

<!-- Ajoutez d'autres sections et éléments en fonction de vos besoins -->

{% endblock %}